<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="lesson3"
        name="ModelDriven Lesson 3"
        version="1.0"
        provider-name="modeldriven.hu"
        class="hu.modeldriven.cameo.Lesson3Plugin">

    <requires>
        <api version="1.2"/>
    </requires>

    <runtime>
        <library name="lesson3.jar"/>
    </runtime>
</plugin>